
#filter_css {
    width: 200px;
    float: left;
}

#filter button {
    margin: 0.15em;
}

#filter-buttons {
    float: left;
    width: 60%;
    height: 100%;
}

#filter-controls {
    float: left;
}

#greyout-buttons button {   
}

.button{
    background-color: lightgray;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 175px;
}

#puzzle_css {
    margin-left: 200px;
    margin-top: 5px;
}

#upload_css {
    margin-left: 200px;
}

html {
    background-color: #1f1f1f;
    color: white;
}

h3 {
    align-content: center;
    padding-left: 5px;
}

.divider {
    margin-right: 10px;
    margin-left: 5px;
}

.crosshair {
    cursor: crosshair;
}

#picker-wrapper {
    width: 0px;
    height: 0px;
    position: relative;
    display: none;
}
#slider-wrapper {
    width: 10px;
    height: 30px;
    position: relative;
}
#picker-indicator {
    width: 0px;
    height: 0px;
    position: absolute;
    border: 1px solid white;
    display: none;
}
#slider-indicator {
    width: 100%;
    height: 10%;
    position: absolute;
    border: 1px solid black;
}

#color-selector {
    float: right;
    width: 30%;
}