#filter {
    width: 200px;
    float: left;
}

.button{
    background-color: lightgray;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 175px;
}

#puzzle_css {
    margin-left: 200px;
    margin-top: 5px;
}

#upload_css {
    margin-left: 200px;
}

html {
    background-color: #1f1f1f;
    color: white;
}

h3 {
    align-content: center;
    padding-left: 5px;
}

.divider {
    margin-right: 10px;
    margin-left: 5px;
}