#filter {
    width: 150px;
    float: left;
    text-align: center;
    background-color: palegreen;
}

#puzzle_css {
    margin-left: 150px;
    background-color: ghostwhite;
}

html {
    background-color: lightgreen;
}