{% extends "pmpart1.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('select[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $('#result').text(data.result);
        // $('#ares').text(data.a);

        // $('#bres').text(data.b);

        $('input[name=a]').focus().select();
      });
      return false;
    };
    $('a#calculate').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
    $('input[name=a]').focus();
  });
</script>
<h1>jQuery Example</h1>
<p>
   <!-- <label id= "pmSelected" value = "2"></label> -->
   <select id="a" name = "a">
                  <option value= 1>Edge</option>
                  <option value= 2>Gray</option>
                  <option value= 3>Color</option>
                </select> 
  <!-- <p id="foo" name="a"> </p> + -->
  <input type="range"  name="b"> =
  <span id="result">?</span>
  <span id="ares">?</span>
  <span id="bres">?</span>
<p><a href=# id="calculate">calculate server side</a>
 <!-- <script stype="text/javascript">
    $('#pmOption').change(function() {
      $('#foo').innerHTML = $('#pmOption').selectedIndex;
      console.log($('#pmOption').selectedIndex);
    });
  </script>-->
{% endblock %}