/*top-right-bottom-left*/
#upload_css {
    margin-left: 200px;
}

#puzzle_css {
    margin-left: 200px;
    margin-top: 5px;
}

#filter_css {
    position: fixed;
    left: 0;
    top: 120px;
    background-color: #1f1f1f;
    width: 200px;
    float: left;
    margin-top: -70px;
    padding: 15px 2px 15px 2px;
    border-radius: 10px;
}

html {
    background-color: #1f1f1f;
    color: white;
}

h2 {
    background-color: #1a1a1a;
    align-content: center;
    padding-left: 15px;
}

a {
    color: white;
}

p {
    margin: 10px 0 0 0;
}

.button{
    color: black;
    background-color: lightgray;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 175px;
}

.spbutton {
    color: black;
    background-color: lightgray;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 155px;
}



.divider {
    margin-right: 10px;
    margin-left: 5px;
}

.crosshair {
    cursor: crosshair;
}

.instructions {
    margin: 0 3px 5px 0;
    width: 500px;
    padding: 4px 3px 3px 3px;
    background-color: #404040;
}

#colorfilter{
    width: 170px;
    margin: -25px 15px 30px 0px;
    align-content: center;
}

#colorfilterlast{
    width: 170px;
    margin: -25px 15px 5px 0px;
    align-content: center;
}

#color-selector {
    margin: 0 0 0 180px;
}

#patternMatchingOptions {
    margin: 15px 0 0 0;
}

#picker-wrapper {
    width: 0px;
    height: 0px;
    position: relative;
    display: none;
}
#slider-wrapper {
    width: 10px;
    height: 30px;
    position: relative;
}
#picker-indicator {
    width: 0px;
    height: 0px;
    position: absolute;
    border: 1px solid white;
    display: none;
}
#slider-indicator {
    width: 100%;
    height: 10%;
    position: absolute;
    border: 1px solid black;
}
