<!DOCTYPE html>
<html>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <head>
        <link rel="shortcut icon" href="/img/waldoheadcon.ico" type="image/x-icon" />
        <script type="text/javascript"
             src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/Waldo.css">
        <script type="text/javascript">
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='waldo.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='colorpicker.js') }}"></script>

        <title>
            Where's Waldo
        </title>
    </head>
    <body>
        <h2>Here's Waldo!</h2>
        
        <div id="upload_css">
		
			<button class='button' id="inp" type='file' onclick='uploadpic();'>Choose Puzzle</button>
            
			<select  id="inp_select" name = "c">
            <option value="puz0.jpg">Default Puzzle</option>
			<option value="puz1.jpg">Puzzle 1</option>
			<option value="puz2.jpg">Puzzle 2</option>
			<option value="puz3.jpg">Puzzle 3</option>
			<option value="puz4.jpg">Puzzle 4</option>
			<option value="puz5.jpg">Puzzle 5</option>
			<option value="puz6.jpg">Puzzle 6</option>
			<option value="puz7.jpg">Puzzle 7</option>
			<option value="puz8.jpg">Puzzle 8</option>
			</select>
			
        </div>
		
        
        <div id="filter_css">
            
            <button class='button' id="Reset" value="Reset" onclick='reset()'>Reset All</button><br>
            <button class='button' id="resetcolors" value="ResetColors" onclick='resetColor()'>Reset - Colors</button><br>
            <button class='button' id="resetmasks" value="ResetMasks" onclick='resetGray()'>Reset - Gray</button><br>
            <hr class='divider'>

            <div id="color-selector">
                <div id="picker-wrapper">
                    <div id="picker"></div>
                    <div id="picker-indicator"></div>
                </div>
                <div id="slider-wrapper">
                    <div id="slider"></div>
                    <div id="slider-indicator"></div>
                </div>
            </div>
            
            <div id="colorfilter">
                <label>
                    <input class="checkboxes" autocomplete="off" 
                           type='checkbox' onclick='updateCheckbox(this, 0);'>
                        Show Red
                </label>
            </div>

            <div id="colorfilter">
                <label>
                    <input class="checkboxes" autocomplete="off" 
                              type='checkbox' onclick='updateCheckbox(this, 1);'>
                    Show Blue
                </label>
            </div>

            <div id="colorfilter">
                <label>
                    <input class="checkboxes" autocomplete="off" 
                              type='checkbox' onclick='updateCheckbox(this, 2);'>
                    Show White
                </label>
            </div>

            <div id="colorfilterlast">
                <label>
                    <input class="checkboxes" autocomplete="off" 
                              type='checkbox' onclick='updateCheckbox(this, 3);'>
                    Show Custom Color
                </label> <br>
                <button class='spbutton' onclick='updateHueRange(3,1)'>Select Upper Hue</button>
                <button class='spbutton' onclick='updateHueRange(3,2)'>Select Lower Hue</button>    
            </div>
            
            <hr class='divider'>

            <a id="instrheader" class="removevspace" href="javascript: void(0);" onClick="toggleText('instr', 'instrheader', 'Show Instructions', 'Hide Instructions')">Show Instructions</a>
            <div id="instr" class="instructions" style="display:none;">
                Click the desired button, then the top left & bottom right of the area you want to change.
            </div>
            

            <button class='button' id="grayOut" onclick='grayOut()'>Gray Out Area</button><br>

            <button class='button' id="removeGray" onclick='removeGray()'>Remove Gray</button><br>

            <button class='button' id="allGray" onclick='allGray()'>Gray Out Everything</button><br>

            <hr class='divider'>

            <div id="patternMatchingOptions">

                <a id="infoheader" href="javascript: void(0);" onClick="toggleText('info', 'infoheader', 'Show Info', 'Hide Info')">Show Info</a>
                <div id="info" class="instructions" style="display:none;">
                    "Find by" options allow you to choose different ways of finding spots where Waldo might be. The threshold slider lets you pick how strict the matching will be. Move to the right for a higher threshold, and fewer spots that make it through. 
                </div><br>

                Find by 
                <select id="pmOption" name = "a">
                  <option value=0>edges</option>
                  <option value=1>gray</option>
                  <option value=2>color</option>
                </select> <br>
                
                <p>Threshold:</p>
                <input id="threshold" name = "b" type="range">
                <!-- <button class='button' id='patternMatch' >Here's Waldo!</button> -->
                <br>
                <a class='button' href=# id="calculate">Here's Waldo!</a>

            </div>
        </div> <!--end of filters-->

        <div id="puzzle_css">
            <span id="cursor">
                <canvas id="image_canvas"></canvas>
            </span>
        </div>
    </body>
</html>
